<%= form_for(@pregunta, :html => { class: 'form-horizontal'}) do |f| %>
  <% if @pregunta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregunta.errors.count, "error") %> prohibited this pregunta from being saved:</h2>

      <ul>
      <% @pregunta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: 'col-sm-1 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>    
  </div>


  <h2>Respuestas</h2>  
  <%= f.fields_for :respuestas do |respuesta| %>
    <div class="form-group">
      <%= respuesta.label :nombre, class: 'col-sm-1 control-label' %>
      <div class="col-sm-5">
        <%= respuesta.text_field :nombre, class: 'form-control' %>
      </div>      
    </div>
  <% end %>
  
  
    <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<br>
